{% extends 'base.html.twig' %}

{% block title %} - Charger une partie{% endblock %}

{% block javascripts %}
  {{ encore_entry_script_tags("load") }}
{% endblock %}


{% block body %}

<main class="container">
    <section class="section">
        <div class="is-vcentered has-text-centered">
            <form action="{{ path("game") }}" method="post">
                <div class="control p-2 mx-6">
                    <select id="selected_game">
                        <option value="without"> Parties sauvgardées </option>
                        {% for game in games %}
                            <option value="{{ game.id }}"> {{ game.date|date("d/m/Y") }} </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="control mt-4">
                    <input class="button is-link" type="submit" value="Jouer">
                </div>
            </form>
        </div>
        <div class="is-vcentered has-text-centered mt-2" id="display_name"></div>
    </section>

</main>
{% endblock %}
