{% extends 'base.html.twig' %}

{% block title %}
  - Nouvelle partie{% endblock %}

{% block body %}

  <div class='container' id='play-container'>
    <form action="{{ path('game') }}" method='POST'>

      <div class='field is-horizontal is-centered'>

        <label class='label'>Nombre de joueurs (2-7)</label>
        <div class='control'>
          <div class='select'>
            <select>
              {% for i in 2..7 %}
                <option value="{{ i }}">{{ i }} Joueurs</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
      <div class='player-names-wrapper'>
        <div class='field is-horizontal is-centered'>

          <label for='' class='label'>Joueur 1</label>
          <div class='control'>
            <p>{{ user.pseudo }}</p>
          </div>
        </div>
      </div>


    </form>
  </div>
{% endblock %}
