{% extends 'base.html.twig' %}

{% block title %} - Jouer{% endblock %}

{% block body %}

<div class="container" id="play-container">
    <div class="buttons is-centered">
        <a href="{{ path('new_game') }}" class="button is-primary">Nouvelle partie</a>
        <a href="{{ path('load_game') }}" class="button is-primary" disabled>Charger une partie</a>
    </div>
</div>
{% endblock %}
