{% extends 'base.html.twig' %}

{% block title %} - Score{% endblock %}

{% block body %}
    <main class="container">
        <center><table class="table mt-6"></center>
            <thead>
                <tr>
                    <th class="pl-5 pr-5">Position</th>
                    <th class="pl-5 pr-5">Pseudo</th>
                    <th class="pl-5 pr-5">Points</th>
                    <td></td>
                </tr>
            </thead>
            <tbody>
            {% for player in players %}
                <tr>
                    <th class="pl-5 pr-5"></th>
                    <td class="pl-5 pr-5">{{ player.pseudo }}</td>
                    <td class="pl-5 pr-5">{{ player.score }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <form method="post" action="{{ path('delete_game', {'id': game.id}) }}">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ game.id) }}">
            <input type="submit" class="button is-success mt-5 mb-6" value="Terminer">
        </form>
    </main>
{% endblock %}