{% extends 'base.html.twig' %}

{% block title %} - Connexion{% endblock %}

{% block body %}
    <div class="container">
        <form method="post">
            {% if error %}
                <div class="notification is-danger">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}

            <div class="columns mt-6">
                <div class="column is-one-third is-offset-4">
                    <div class="field">
                        <div class="control">
                            <center><h1 class="title" style="font-size: 2.5em;">Connexion</h1></center>
                            <label class="label" for="inputMail">Email</label>
                            <input class="input" type="text" value="{{ last_username }}" name="mail" id="inputMail" class="form-control" autocomplete="username" required autofocus>
                        </div>
                    </div>

                    <label class="label" for="inputPassword">Mot de passe</label>
                    <div class="control">
                        <input class="input" type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    {#
                        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                        See https://symfony.com/doc/current/security/remember_me.html

                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" name="_remember_me"> Remember me
                            </label>
                        </div>
                    #}

                    <center><button class="button is-primary mt-5 mb-6" type="submit">Se connecter</button></center>
                    <center><a class="" href="{{ path('app_forgot_password_request') }}">Mot de passe oublié?</a></center>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
