#play-container {
  // sert à (à peut près) centrer verticalement les bouttons
  height: 80vh;
  display: flex;
  align-items: center;
  & > * {
    flex-grow: 1;
  }

  form {
    flex-grow: 0;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    * {
      flex-grow: 1;
      margin-right: auto;
    }
    .label {
      margin-right: 1rem;
    }
  }
}

