$content-height: calc(100vh - 144px - 68px); //content height = page height - footer height - header height

#play-container {
  // center the buttons in the play.html.twig template
  height: $content-height;
  display: flex;
  align-items: center;
  & > * {
    flex-grow: 1;
  }
  // center the forms in new.html.twig
  form {
    flex-grow: 0;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    * {
      flex-grow: 1;
      margin-right: auto;
    }
    .label {
      margin-right: 1rem;
    }
  }
}

// .player height = 1/4 of (content height - all grip gap - player-list padding)
// so that 4 .player can fit on the screen
$player-height: calc((#{$content-height} - 3rem - 1.5rem) / 4);
#game-container {
  height: $content-height;
  margin: 0;

  .player-list {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, calc(50% - .5rem));

    .player {
      box-sizing: border-box;
      flex: 0 0 0;
      height: $player-height;
      &-score {
        display: flex;
      }
    }
  }

  .pickomino {
    flex: 0 0 3.5vw;
    // pickomino height = .player height - .player name height
    // so the pickomino can fit in a player container without making it longer
    height: calc(#{$player-height} - 33px); 
    border: solid 1px black;
  }

  .game-board {
    padding: 0;
    $row-height: calc(#{$content-height} / 3);
    .skewer {
      height: $row-height;
      .columns {
        margin-top: 0;
        height: 100%;
        align-items: flex-end;
        justify-content: space-evenly;      
      }
    }
  
    .throw {
      height: calc(#{$row-height} / 2);
      align-items: flex-start;
      padding-top: 2rem;
      .button {
        transform: translateY(25%);
      }
    }

    #choosable-values-buttons {
      height: calc(#{$row-height} / 2);
      align-items: center;
      justify-content: center;
      padding-top: 2rem;
      button {
        $button-size: 4rem;
        height: $button-size;
        width: $button-size;
        flex: 0 0 $button-size;
      }
    }

    .hand {
      height: $row-height;
      align-items: center;
    }

    .dices {
      .dice {
        display: grid;
        place-items: center;
        $dice-size: 5.2084vw;
        height: $dice-size;
        padding: 0;
        margin-right: 1px;
        border: solid 1px black;
        &.empty {
          border: dotted 1px black;
        }
      }
    }

    .column.button {
      padding: 0;
      line-height: 2.5em;
    }
  }
}
