{% extends 'base.html.twig' %}

{% block title %} - Accueil{% endblock %}

{% block body %}
    <main class="container">
        {# game presentation #}
        <section class="section">
            <p class="is-size-3 is-uppercase">Pickomino</p>
            <div class="columns is-vcentered">
                <div class="column is-two-thirds">
                    <p>L'objectif du Pickomino est de récupérer le plus de vers possible en fonction de ses lancés de dés.<br>
                    Ce jeu est composé de 16 tuiles numérotées de 21 à 36 et comportant de 1 à 4 vers sur chacune d'entre elles.<br>
                    1 vers pour les quatre premières (tuiles 21 à 24), 2 vers pour les quatre suivantes (tuiles 25 à 28), 3 vers pour les quatre suivantes (tuiles 29 à 32) et 4 vers pour les quatre dernières (tuiles 33 à 36).
                    Le jeu comporte également huit dés identiques à six faces allant de 1 à 5 avec un vers sur la sixième face.
                    </p>
                </div>

                {# link to the game's page #}
                <div class="column is-one-third has-text-centered">
                    <a href="{{ path('play') }}" class="button is-primary is-uppercase">Jouer</a>
                    {# If the user is not connected #}
                    {% if message is defined %}
                        <article class="message is-danger mt-2">
                            <div class="message-header">
                                <p>Vous n'êtes pas connecté</p>
                            </div>
                            <div class="message-body">
                                <a href="{{ path('app_login') }}">{{message}}</a>
                            </div>
                        </article>
                    {% endif %}
                </div>  
            </div>
        </section>

        {# group presentation #}
        <section class="section">
            <p class="is-size-3 is-uppercase">Equipe du Développement</p>
            <div class="columns mt-3">
                <div class="column">
                    <figure class="image is-3by2 has-text-centered">
                        <img src="https://bulma.io/images/placeholders/480x320.png" alt="Photo de Bastien">
                    </figure>
                    <p class="is-size-5">Bastien</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                    Ut, ullam perferendis architecto corrupti error enim illo hic facere saepe maiores culpa placeat pariatur tempore voluptates, 
                    quisquam nulla molestiae libero earum.</p>
                </div>
                <div class="column">
                    <figure class="image is-3by2 has-text-centered">
                        <img src="https://bulma.io/images/placeholders/480x320.png" alt="Photo de Kévin">
                    </figure>
                    <p class="is-size-5">Kévin</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                    Ut, ullam perferendis architecto corrupti error enim illo hic facere saepe maiores culpa placeat pariatur tempore voluptates, 
                    quisquam nulla molestiae libero earum.</p>
                </div>
                <div class="column">
                    <figure class="image is-3by2 has-text-centered">
                        <img src="https://bulma.io/images/placeholders/480x320.png" alt="Photo de Narjes">
                    </figure>
                    <p class="is-size-5">Narjes</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                    Ut, ullam perferendis architecto corrupti error enim illo hic facere saepe maiores culpa placeat pariatur tempore voluptates, 
                    quisquam nulla molestiae libero earum.</p>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
